{
  "env": {
    "production": {
      "plugins": [
        [
          "transform-remove-console",
          {
            "exclude": [
              "error", "log", "warning"
            ]
          }
        ]
      ]
    }
  }
  // "presets": ["react-native"] 
}